<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.gogou.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.gogou.domain.Product">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="subName" property="subName" />
        <result column="code" property="code" />
        <result column="product_type_id" property="productTypeId" />
        <result column="onSaleTime" property="onSaleTime" />
        <result column="offSaleTime" property="offSaleTime" />
        <result column="brand_id" property="brandId" />
        <result column="state" property="state" />
        <result column="maxPrice" property="maxPrice" />
        <result column="minPrice" property="minPrice" />
        <result column="saleCount" property="saleCount" />
        <result column="viewCount" property="viewCount" />
        <result column="commentCount" property="commentCount" />
        <result column="commentScore" property="commentScore" />
        <result column="viewProperties" property="viewProperties" />
        <result column="goodCommentCount" property="goodCommentCount" />
        <result column="commonCommentCount" property="commonCommentCount" />
        <result column="badCommentCount" property="badCommentCount" />
        <result column="skuProperties" property="skuProperties" />
        <result column="medias" property="medias" />
        <association property="productType" javaType="cn.itsource.gogou.domain.ProductType">
            <id column="product_type_id" property="id"/>
            <result column="typeName" property="name"/>
        </association>
        <association property="brand" javaType="cn.itsource.gogou.domain.Brand">
            <id column="brand_id" property="id"/>
            <result column="brandName" property="name"/>
        </association>
    </resultMap>
    <select id="queryPage" resultMap="BaseResultMap">
        SELECT p.*,pt.`name` typeName,b.`name` brandName
        FROM t_product p
        LEFT JOIN t_product_type pt ON p.product_type_id=pt.id
        LEFT JOIN t_brand b ON p.brand_id=b.id
        <include refid="whereSql"></include>
    </select>
    <sql id="whereSql">
        <where>
            <if test="#{query.keyword} !=null">
                p.name like concat('%',#{query.keyword},'%')
                or
                p.subName like concat('%',#{query.keyword},'%')
            </if>
        </where>
    </sql>
    <!--更新显示属性-->
    <update id="updateViewsProperties">
        update t_product set t_product.viewProperties=#{viewsPropertyJson}
        where t_product.id=#{productId}
    </update>
    <!--更新SKU属性-->
    <update id="updateSkuProperties">
        update t_product set t_product.skuProperties=#{skuPropertyJson}
        where t_product.id=#{productId}
    </update>

</mapper>
